.pagination[b-b94dux51ss] {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center
}

.page-btn[b-b94dux51ss] {
    width: 38px;
    height: 38px;
    border-radius: var(--r);
    border: 1px solid var(--black-border);
    background: var(--black-card);
    color: var(--silver);
    cursor: pointer;
    transition: var(--tr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem
}

.page-btn:hover[b-b94dux51ss], .page-btn.active[b-b94dux51ss] {
    border-color: var(--gold);
    color: var(--gold);
    background: rgba(212,175,55,.08)
}

.page-btn:disabled[b-b94dux51ss] {
    opacity: .35;
    cursor: not-allowed
}
