.stat-card[b-je127e6dwe] {
    background: var(--black-card);
    border: 1px solid var(--black-border);
    border-radius: var(--r-lg);
    padding: 22px;
    display: flex;
    align-items: center;
    gap: 18px;
    transition: var(--tr)
}

.stat-card:hover[b-je127e6dwe] {
    border-color: var(--gold-dark);
    transform: translateY(-2px)
}

.skel[b-je127e6dwe] {
    background: linear-gradient(90deg, var(--black-card) 25%, var(--black-border) 50%, var(--black-card) 75%);
    background-size: 200% 100%;
    animation: shimmer-b-je127e6dwe 1.4s infinite
}

@keyframes shimmer-b-je127e6dwe {
    0% {
        background-position: 200% 0
    }

    100% {
        background-position: -200% 0
    }
}
